.ant-card {
  border-radius: 10px;
  padding: 20px;
}

.ant-card img {
  /* border-radius: 50%; */
  /* border: 4px solid #dbeafe; */
  object-fit: cover;
  /* background: #cdd0d1; */
  /* background: #FFF; */
  padding: 20%;
}

.ant-card-body {
  padding: 10px !important;
}

.ant-card-meta {
  display: block;
}

.ant-card-meta-detail {
  text-align: center;
}

.ant-card-meta-description {
  font-weight: 500;
}

.ant-card-head-title {
  text-align: center;
}