@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'antd/dist/antd.css'; */
@import 'react-toastify/dist/ReactToastify.css';
@layer components {
    .title {
        @apply font-medium text-lg;
    }

    .flex-between-center {
        @apply flex flex-row justify-between items-center;
    }

    .flex-center-center {
        @apply flex flex-row justify-center items-center;
    }

    .flex-center {
        @apply flex flex-row items-center;
    }

    .flex-between {
        @apply flex flex-row justify-between;
    }


    .textarea {
        @apply rounded-lg h-9 border-[#A3ABEB] border-2 w-[-webkit-fill-available];
    }
    .button_accept {
        @apply bg-[#52c41a] rounded-md text-red-50;
    }
    .button {
        /* @apply bg-[#EA4C89] rounded-md text-red-50; */
        /* @apply bg-[blueviolet] rounded-md text-red-50; */
        /* @apply bg-[#1890ff] rounded-md text-red-50; */
        @apply bg-[#7B83EB] rounded-md text-red-50;
        /* @apply bg-[#005DA6] rounded-md text-red-50; */
        
        /* @apply bg-[#006d75] rounded-md text-red-50; */
    }
    .button_reject {
        /* @apply bg-[#EA4C89] rounded-md text-red-50; */
        @apply rounded-md;
    }
    /* .button {
        @apply bg-[#24A0ED] rounded-md text-red-50;
    } */
    .button_excel {
        @apply flex-center rounded-md text-red-50 gap-2 bg-[#1D6F42];
    }

    .input {
        @apply rounded-lg h-9 border-[#A3ABEB] border-2 w-[-webkit-fill-available];
    }

    .date {
        @apply rounded-lg h-9 border-[#A3ABEB] border-2 w-[-webkit-fill-available];
    }

    .select {
        @apply rounded-lg h-9 border-[#A3ABEB] border-2 w-[-webkit-fill-available];
    }
}

img.ant-image-preview-img {
    display: inline-block;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-col.ant-form-item-label {
    padding: 0 !important;
}

.ant-btn-primary {
    background-color: #1890ff !important;
}

.fileUploadInput {
    display: grid;
    grid-gap: 10px;
    position: relative;
    z-index: 1;
}

.fileUploadInput input {
    position: relative;
    z-index: 1;
    padding: 0 ;
    width: 100%;
    height: 35px;
    border: 2px solid #5b69e6;
    border-radius: 24px;
    font-family: arial, sans-serif;
    font-size: 1rem;
    user-select: none;
    cursor: pointer;
}

.fileUploadInput input[type='file'] {
    padding: 0 ;
}

.fileUploadInput input[type='file']::-webkit-file-upload-button {
    visibility: hidden;
    margin-left: 10px;
    padding: 0;
    height: 35px;
    width: 0;
}

.fileUploadInput button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 35px;
    line-height: 0;
    user-select: none;
    color: white;
    z-index: 2;
    background-color: #323262;
    border-radius: 0 3px 3px 0;
    font-family: arial, sans-serif;
    font-size: 1rem;
    font-weight: 800;
}

.fileUploadInput button svg {
    width: auto;
    height: 50%;
}

@-moz-document url-prefix() {
    .fileUploadInput button {
        display: none;
    }
}

/* @media (min-width: 768px) {
  .ant-layout {
    margin-left: 250px;
  }
}

@media (min-width: 992px) {
  .ant-layout {
    margin-left: 4.6rem !important;
  }
} */
.modalFileUploadDownloadButton {
    margin-bottom: 10px;
    width: 472px;
}

.buttonAccept {
    background-color: #00ff40;
}

.buttonReject {
    background-color: #ff0000;
}
.ant-input-number-handler-wrap {
    display: none;
}
.table-responsive {
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Control the maximum width of the table */
}

.ant-table-thead .ant-table-cell{

    /* background-color: #a0bdf0; */
    /* background-color: #dbeafe !important; */
    /* background-color: #005DA6 !important; */
    /* background-color: #6264A7; */
    /* background-color: #A3ABEB; */
}
/* Example with increased specificity */
.delete-two-tone {
    color: red !important;
    /* font-size: 24px !important; */
}



  